<!-- <p>quote works!</p> -->
<div class="container"> 
  <div class="row">
    <div class="col-md-5 mr-1">
      <h1>Quotes Generator</h1>
      <hr>
      <ul>
        <div *ngFor='let quote of quotes;let i = index'>
          <div>
            <h4 id={{i}}>{{quote.completeDate|date}}</h4>
            <app-quote-detail *ngIf='quote' [quote]='quote' (isComplete) = 'completequotes($event,i)'></app-quote-detail>
            <cite> {{quote.author}} </cite> 
          </div>
        </div>
      </ul>
    </div>
    <div class="col-md-4 ml-2">
      <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>></app-quotes-form>
      </div>
    </div>
  </div>