<!-- <p>quote works!</p> -->
<div class="container">
    <h1>Quotes Generator</h1>
    <hr>
  
    <div class="row">
      <div class="col-md-5">
        <ul>
          <div *ngFor='let quote of quotes;let i = index'>
            <div>
              <h4 id={{i}}>{{quote.completeDate|date}}</h4>
              <app-quote-detail *ngIf='quote' [quote]='quote' (isComplete) = 'completequotes($event,i)'></app-quote-detail>
              <cite> {{quote.author}} </cite> 
              <!-- <li > {{quote.quote}} </li> -->
              
              <!-- <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button> -->
            </div>
          </div>
        </ul>
      </div>
      <div class="col-md-5">
        <app-quotes-form></app-quotes-form>
      </div>
    </div>
  </div>